<<<<<<< HEAD
header
{
	background-color: #FF0000; 
	height: 60px;
	width: 100%;
=======
header{
    Background-color:#FF0000;
    height: 70px;
    width:100%;
>>>>>>> 9a1d46e95583315ca1eb96af1d5021a77af926d2
}
