<<<<<<< HEAD
header
    {
        height: 70px;
        width: 100%;
        color:white;
        border-bottom: 1px solid #CCCCCC;
        background-color: white;	
    }
img {
        margin-left: 20px;
        width: 140px;
        height: 60px;
        background-repeat: no-repeat;
    }
=======
header {
	background-color: white;
	border-bottom: 1px solid #CCCCCC;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 70px;
	width: 100%;
}

header .logo {
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	height: 60px;
	margin-left: 20px;
	width: 142px;
}
>>>>>>> 9a1d46e95583315ca1eb96af1d5021a77af926d2
