<<<<<<< HEAD
.places h1 {
    font-size: 30px;
    width: 100%;
    margin: 20px auto auto 20px;
}
.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
}

.places article h2 {
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
=======
section.places {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

section.places h1 {
	font-size: 30px;
	margin-left: 20px;
	width: 100%;
}

article {
	display: flex;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	margin: 20px;
	padding: 20px;
	width: 390px;
	justify-content: center;
}

article h2 {
	font-size: 30px;
}
>>>>>>> 9a1d46e95583315ca1eb96af1d5021a77af926d2
